body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 60px;
}

.logo img {
    width: 600px;
}

.links {
    margin-top: 60px;
    flex-wrap: wrap;
}


.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 300px;
    height: 140px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    padding: 0 40px 0 40px;
}

.button:hover {
    border: 1px solid #117fd2;
    color: #117fd2;
    transition-property: color, border;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    
}

.button-title {
    font-size: 24px;
    font-weight: bold;
}

.button-text {
    margin-top: 20px;
}

.footer {
    height: 60px;
    margin-top: 60px;
}