body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 18px;
    width: 100%
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 60px;
}

.logo img {
    width: 600px;
}

.buttons {
    margin-top: 60px;
    flex-wrap: wrap;
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 300px;
    height: 140px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    padding: 0 40px 0 40px;
}

.button:hover {
    transition-property: color, border;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.button-whatsapp:hover {
    border: 1px solid #34af23;
    color: #34af23;
}

.button-instagram:hover {
    border: 1px solid #ff1981;
    color:#ff1981;
}

.button-facebook:hover {
    border: 1px solid #006add;
    color:#006add;
}

.button-github:hover {
    border: 1px solid #5c5e61;
    color: #5c5e61;
}

.button-line-up {
    display: flex;
    justify-content: space-between;
}

.button-line-down {
    display: block;
    margin-top: 20px;
}

.button-title {
    font-size: 24px;
    font-weight: bold;
}

.button-img {
    width: 0px;
}

.button-text {
    display: flex;
    align-items: flex-end;
}

.footer {
    height: 60px;
    margin-top: 60px;
}

@media screen and (max-width: 700px) {
    .logo img {
        width: 300px;
    }

    .buttons {
    margin: 0;
    }
    
    .button {
        color: black;
        width: 200px;
        height: 120px;
        margin-top: 40px;
        border: 1px solid #eaeaea;
        padding: 0 40px 0 40px;
    }

    .button-whatsapp {
        border: 1px solid #34af23;
        color: #34af23;
    }
    
    .button-instagram {
        border: 1px solid #ff1981;
        color:#ff1981;
    }
    
    .button-facebook {
        border: 1px solid #006add;
        color:#006add;
    }
    
    .button-github {
        border: 1px solid #5c5e61;
        color: #5c5e61;
    }
}